@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Montserrat", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #495057;
  color: white;
}
.bmi-section {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 18px;
  border-radius: 5px;
  padding: 28px;
  background-color: #343a40;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

label {
  margin-bottom: 8px;
}
input {
  padding: 12px;
}
button {
  padding: 8px;
  width: 150px;
}
